node_modules
packages/*/node_modules
packages/electron/out
packages/electron/resources/node
packages/electron/resources/icons
packages/electron/resources/server
packages/electron/.vite
dist
.git
.pi
openspec
