[Unit]
Description=PI Dashboard Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env pi-dashboard
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=default.target
