---
export interface Props {
  class?: string;
}
const { class: cls = "" } = Astro.props;
---

<div
  class:list={[
    "relative mx-auto rounded-[2.2rem] border border-pi-border/80 bg-pi-surface/80 p-2 shadow-pi-glow pi-gradient-border",
    "w-[260px]",
    cls,
  ]}
>
  <div
    class="absolute top-1.5 left-1/2 -translate-x-1/2 h-5 w-20 rounded-b-xl bg-pi-bg/90 z-10"
    aria-hidden="true"
  >
  </div>
  <div
    class="relative rounded-[1.7rem] overflow-hidden bg-pi-bg aspect-[9/19]"
  >
    <slot />
  </div>
</div>
